@font-face {
    font-family: gameboy;
    src: url("font/gameboy.ttf");
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "gameboy";
}

/*First part of page transition waiting for geolcation */
.main-container {
    border-style: solid;
    width: auto;
    min-height: 45%;
    overflow: hidden;
}

.gif-container {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

img.gif-cat {
    max-width: 100vw;
    height: auto;
}

.text-container {
    border-top-style: solid;
}

p.text {
    margin-top: 3%;
    line-height: 20px;
}

/*CSS for weather page elements*/
div.weatherText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i, p.wea {
    font-size: 11vh;
    line-height: 80px;
}

p.temperature {
    font-size: 8vh;
    line-height: 10px;
}

p.time {
    margin-bottom: 30px;
}

p.date, p.time {
    font-size: 6vh;
    line-height: 20px;
}

p.location {
    font-size: 10vh;
    line-height: 100px;
}

.weaimage {
    display: flex;
    align-items: flex-end;
}

.cat {
    margin-left: 2vw;
    width: 200%;
    height: auto;
}

.temperatureToggle:hover {
    text-decoration: none;
}
