body {

}

.main-container {
    border-style: solid;
    width: auto;
    height: 45%;
}

.gif-container {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.text-container {
    border-top-style: solid;
    text-overflow: ellipsis;
    min-height: 9vh;
}

p.text {
    margin-top: 2vh;
}
