body {

}

.main-container {
    border-style: solid;
    width: auto;
    height: 45%;
    overflow: hidden;
}

.gif-container {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.text-container {
    border-top-style: solid;
}

p.text {
    margin-top: 3%;
}

.temperatureToggle:hover {
    text-decoration: none;
}
