#quote {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;   
    overflow: auto;
}

#quote-text{
    opacity: 0;
    text-align: center;
    font-size: 2.0vmin;

}

#quote-author {
    opacity: 0;
    float: right;
    font-size: 2.0vmin;

}

#next-quote {
    float: right;
    position: relative;
    font-size: 1.7vmin;
    opacity: 0;
    background-color: black;

    border-color: black;
    color: white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    margin-top: 5px;
}

#next-quote:hover {
    background-color: #707070;
    
}

#twit-quote {
    opacity: 0;
    float: left;
    z-index: 2;
}

